<div class="container">
    <nav class="navbar">
        <div class="container-fluid" style="padding: 0;">
            <a class="fs-4 logo-title text-dark text-decoration-none" href="{{ url_for('index') }}">easyshare</a>
            <div class="d-flex">
                <a href="{{ url_for('index') }}about" role="button" class="btn btn-link btn-sm text-nowrap" style="margin-left:10px; padding:.45rem .45rem;">About</a>
                <a href="{{ url_for('index') }}" role="button" class="btn {{ btn_share_style }} btn-sm btn-new-share text-nowrap" style="margin-left:15px;">New&nbsp;Share</a>
            </div>
        </div>
    </nav>
</div>
<div class="border-bottom"></div>