<div class="container py-3">
    <header>
        <div class="row">
            <div class="col-sm-8 col-12">
                <a href="{{ url_for('index') }}" class="d-flex align-items-center text-dark text-decoration-none">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg" style="fill:#212529;"><path d="M13.138.053a12.018 12.018 0 0 0-9.646 3.481A12.014 12.014 0 0 0 .937 16.651a12.014 12.014 0 0 0 11.162 7.348 2.275 2.275 0 1 0-.037-4.549 7.438 7.438 0 0 1-6.932-4.562 7.438 7.438 0 0 1 1.587-8.145 7.437 7.437 0 0 1 12.378 3.014H12.05a2.275 2.275 0 1 0 0 4.55h9.674A2.275 2.275 0 0 0 24 12.04 12.014 12.014 0 0 0 16.597.914a11.962 11.962 0 0 0-3.459-.86z"/></svg>
                    <span class="fs-4 logo-title">easyshare</span>
                </a>
            </div>
            <nav class="col-sm-4 col-12 d-flex flex-row-reverse">
                <a href="{{ url_for('index') }}" role="button" class="btn {{ btn_share_style }} btn-sm btn-new-share text-nowrap" style="margin-left:15px; font-weight:500;">New&nbsp;Share</a>
                <a href="{{ url_for('index') }}about" role="button" class="btn btn-link btn-sm text-nowrap" style="margin-left:10px; padding:.45rem .45rem;">About</a>
            </nav>
        </div>
    </header>
</div>
<div class="border-bottom"></div>