<!doctype html>
<html lang="en">

    {% include './base-parts/header.html' %}

    <body id="{{ activePage }}">

        {% include './base-parts/nav.html' %}

        <div class="container py-3 pt-5">
            <body>
                <div class="row options">
                    {% block options %} {% endblock %}
                </div>
                <div class="row">
                    {% block body %} {% endblock %}
                </div>
            </body>
        </div>

        {% include './base-parts/footer.html' %}

    </body>

</html>