{% extends 'base.html' %}

{% set activePage = 'index' %}

{% block body %}
    <p style="margin-bottom: 0.5rem;">We've already shared <b style="font-weight: 600;">{{ attr['total_notes'] }}</b> notes. Your note is next one</p>
    <form action="/" method="post" role="form" id="form" novalidate>
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-10 col-sm-8 col-12 pt-3">
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter title here..." maxlength="128" value="{{ code_title }}" required>
            </div>
            <div class="col-md-2 col-sm-4 col-12 pt-3">
                {{ form.languageSelector(class_='form-select') }}
            </div>
            <div class="col-12 pt-3">
                <div id="editor" class="editor editor-can-write">{{ code_body }}</div>
                <textarea name="editor" style="display: none;" required></textarea>
            </div>
            <div class="col-12 nh">
                {{ form.nh }}
            </div>
            <div class="col-12 pt-3">
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-success btn-sm btn-new-share">Share&nbsp;Note</button>
                    <div id="editorError" style="visibility: hidden;">
                        <span class="err-msg">The length of the document is too large: <span id="editorCounter"></span> symbols</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}