{% extends 'base.html' %}

{% set body_id = 'index' %}
{% set btn_share_style = 'btn-outline-success' %}

{% set code_styles = ({'text':'Simple text', 'python': 'Python', 'r': 'R', 'java': 'Java', 
                       'c_cpp': 'C/C++', 'javascript': 'Javascript', 'html': 'HTML', 'css': 'CSS'}) 
%}

{% block share %}
    <button type="button" class="btn btn-success btn-sm btn-new-share" id="btnShare" style="font-weight:500;">Create Share</button>
{% endblock %}

{% block options %}
    <div class="col-md-8 col-sm-12 col-12 pt-3">
        <input type="text" class="form-control" id="codeTitle" placeholder="Enter title here..." maxlength="128" value="{{ code_title }}">
    </div>
    <div class="col-md-2 col-sm-8 col-8 pt-3">
        <select class="form-select" id="styleSelector">
            {% for key, value in code_styles.items() %}
                {% if key == code_style %}
                    <option selected value="{{ key }}">{{ value }}</option>
                {% else %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2 col-sm-4 col-4 pt-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="privateSelector">
          <label class="form-check-label" for="privateSelector">Private</label>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="col-12 pt-3">
        <div id="editor">{{ code_body }}</div>
    </div>
{% endblock %}