{% extends 'base.html' %}

{% set body_id = 'index' %}
{% set btn_share_style = 'btn-outline-success' %}

{% block body %}
    <form action="/" method="post" role="form" id="form" novalidate>
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-10 col-sm-8 col-12 pt-3">
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter title here..." maxlength="128" value="{{ code_title }}" required>
            </div>
            <div class="col-md-2 col-sm-4 col-12 pt-3">
                {{ form.languageSelector(class_='form-select') }}
            </div>
            <div class="col-12 pt-3">
                <div id="editor">{{ code_body }}</div>
                <textarea name="editor" style="display: none;" required></textarea>
            </div>
            <div class="col-12 pt-3">
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-success btn-sm btn-new-share" style="font-weight:500;">Create Share</button>
                    <div id="editorError" style="visibility: hidden;">
                        <span class="err-msg">The length of the document is too large: <span id="editorCounter"></span> symbols</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}