{% extends 'base.html' %}

{% set body_id = 'page' %}
{% set btn_share_style = 'btn-success' %}

{% block extra %}
    <meta name="robots" content="noindex">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename= 'css/likely.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename= 'js/likely.js') }}"></script>
{% endblock %}

{% block options %}
    <div class="col-12 pt-1 pb-2">
        {% if code_title|length > 0 %}
            <h1 id="codeTitle" class="description">{{ code_title }}</h1>
        {% endif %}
    </div>
    <div class="col-sm-8 col-12">
        <span class="custom-badge">public</span>
        <span class="custom-badge">{{ code_style }}</span>
        <span class="custom-badge">6.62&nbsp;KB</span>
        <span class="custom-badge">{{ code_views }}&nbsp;views</span>
        <span class="custom-badge">{{ created_time }}</span>
    </div>
    <div class="col-sm-4 col-12 d-flex flex-row-reverse">
        <a href="{{ url_for('index') }}{{ key }}?type=row" target="blank" class="btn-link" style="text-decoration:none; font-size:0.875em;" id="btnRow">row</a>
        <a href="{{ url_for('index') }}clone?id={{ key }}" class="btn-link" style="text-decoration:none; margin-right:10px; font-size:0.875em;" id="btnClone">clone</a>
    </div>
{% endblock %}

{% block body %}
    <div class="col-12 pt-1">
        <div id="editor">
            <div id="editorLoader" class="text-center" style="padding-top:190px;">
                <div class="text-secondary spinner-border" role="status"></div>
            </div>
        </div>
    </div>
{% endblock %}
