{% extends 'base.html' %}

{% set activePage = 'page' %}

{% block extra %}
    <meta name="robots" content="noindex">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block options %}
    <div class="col-12 pt-1 pb-3">
        {% if title|length > 0 %}
            <h1 id="codeTitle" class="description">{{ title }}</h1>
        {% endif %}
    </div>
    <div class="col-sm-8 col-12">
        <span class="custom-badge">{{ language }}</span>
        <span class="custom-badge">{{ attr['size'] }}</span>
        <span class="custom-badge">{{ attr['created_at'] }}</span>
    </div>
    <div class="col-sm-4 col-12 d-flex flex-row-reverse">
        <a href="{{ url_for('index') }}{{ attr['key'] }}?type=row" target="blank" id="btnRow" style="margin-left: 10px;">row</a>
        <a href="{{ url_for('index') }}clone?key={{ attr['key'] }}" id="btnClone" style="margin-left: 10px;">clone</a>
        <span class="fake-a" id="btnCopy" style="margin-left: 10px;">copy</span>
    </div>
{% endblock %}

{% block body %}
    <div class="col-12 pt-1">
        <div id="editor" class="editor" language="{{ language }}" style="visibility: hidden;">{{ content }}</div>
    </div>
{% endblock %}
