{% extends 'base.html' %}

{% set body_id = 'page' %}
{% set btn_share_style = 'btn-success' %}

{% block extra %}
    <meta name="robots" content="noindex">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block options %}
    <div class="col-12 pt-1 pb-3">
        {% if title|length > 0 %}
            <h1 id="codeTitle" class="description">{{ title }}</h1>
        {% endif %}
    </div>
    <div class="col-sm-8 col-12">
        <span class="custom-badge">{{ language }}</span>
        <span class="custom-badge">{{ attr['size'] }}</span>
        <span class="custom-badge">{{ attr['created_at'] }}</span>
    </div>
    <div class="col-sm-4 col-12 d-flex flex-row-reverse">
        <a href="{{ url_for('index') }}{{ attr['key'] }}?type=row" target="blank" class="btn-link" style="text-decoration:none; font-size:0.875em;" id="btnRow">row</a>
        <a href="{{ url_for('index') }}clone?key={{ attr['key'] }}" class="btn-link" style="text-decoration:none; margin-right:10px; font-size:0.875em;" id="btnClone">clone</a>
    </div>
{% endblock %}

{% block body %}
    <div class="col-12 pt-1">
        <div id="editor" class="editor" language="{{ language }}" style="visibility: hidden;">{{ content }}</div>
    </div>
{% endblock %}
