{% extends 'base.html' %}

{% set body_id = 'about' %}
{% set btn_share_style = 'btn-success' %}

{% block options %}
    <div class="col-12 pt-3">
        <h1 id="codeTitle" class="description">Public Shares</h1>
    </div>
{% endblock %}

{% block body%}
    <div class="col-12 pt-3">
        <p>The most recently created 'public' shares.</p>
        <table class="table table-borderless">
            <tr>
                <td><a href="">Example link to share</a></td>
                <td style="text-align: right">
                    <span class="badge rounded-pill bg-light text-dark">Python</span>
                    <span class="badge rounded-pill bg-light text-dark">5 days ago</span>
                </td>
            </tr>
            <tr>
                <td><a href="">Untitled</a></td>
                <td style="text-align: right">
                    <span class="badge rounded-pill bg-light text-dark">C++</span>
                    <span class="badge rounded-pill bg-light text-dark">2 days ago</span>
                </td>
            </tr>
          </tbody>
        </table>
    </div>
{% endblock %}